/******************************************
/* FONT STYLES
/*******************************************/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

/******************************************
/* BASE STYLES
/*******************************************/

body {
    font-family: 'Lato', sans-serif;
	background-color: whitesmoke;
	font-size: 18px;
	color: black;
}

/******************************************
/* BUTTON STYLES
/*******************************************/


/******************************************
/* FORM STYLES
/*******************************************/


/******************************************
/* LAYOUT STYLES
/*******************************************/


/******************************************
/* LINK STYLES
/*******************************************/


/******************************************
/* MAPS STYLES
/*******************************************/


/******************************************
/* NAV BAR STYLES
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

