<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Luna Lam" />

    <!-- Link favicon -->
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />

    <!-- Link stylesheets -->

    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Link React dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <title>Melon Tasting Reservation Scheduler</title>
  </head>
  <body>
    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">{{ msg }}</p>
    {% endfor %}


    <div id="root">Testing</div>


    <script src="/static/js/App.js" type="text/jsx"></script>
  </body>
</html>
